:root {
  --var-green: hsl(75, 94%, 57%);
  --var-white: hsl(0, 0%, 100%);
  --var-grey-700: hsl(0, 0%, 20%);
  --var-grey-800: hsl(0, 0%, 12%);
  --var-grey-900: hsl(0, 0%, 8%);
}

body {
  background-color: var(--var-grey-900);
  color: var(--var-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", serif;
}

.card {
  background-color: var(--var-grey-800);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 18.75rem;
}

.headshot {
  width: 5rem;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}

h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 0.8em;
  color: var(--var-green);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

p {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.social a {
  background-color: var(--var-grey-700);
  padding: 0.85rem;
  border-radius: 0.4rem;
  font-size: 0.75em;
  margin: 0.4rem 1.2rem;
  font-weight: 600;
}

.social p:hover {
  cursor: pointer;
  background-color: var(--var-green);
  color: var(--var-grey-900);
}

.social:last-child {
  margin-bottom: 1rem;
}
